.header {
    color: beige;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
  }
  
  .header a {
    color: beige;
    text-decoration: none;
  }

  .header a:hover{
    text-decoration: underline overline;
  }

  .mb-1{
    margin-bottom: 20px;
  }