.header {
    /* color: beige; */
    color: rgb(104, 74, 53);
    /* color: rgb(135, 97, 70); */
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
  }
  
  .header a {
    /* color: beige; */
    color: rgb(104, 74, 53);
    /* color: rgb(135, 97, 70); */
    text-decoration: none;
  }

  .header a:hover{
    text-decoration: underline overline;
  }

  .mb-1{
    margin-bottom: 20px;
  }