.del {
    cursor: pointer;
    float: right;
  }
  
  .todo {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px rgb(235, 235, 235) solid;
    border-radius: .5rem;
    margin-bottom: 10px;
  }


  .is-complete {
    text-decoration: line-through;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: .8rem;
    padding: 4px;
    line-height: 8px;
  }